@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,700&display=swap');

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body {
    background-color: #82F3FE;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* Main container */
.corpo {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 25px 20px;
    margin-top: 52px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form container */
.in {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #82f3fe;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #82F3FE;
    color: rgb(20, 52, 213);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    transition: 0.5s;
    background-color: #69c5d6;
    color: #82F3FE;
}

/* Flex container */
.lo {
    display: flex;
    gap: 10px;
}

/* Link styling */
a {
    background-color: white;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #f0f0f0;
}

/* Image styling */
#gov {
    transform: scale(0.1);
    margin: 8px;
    padding: 8px;
}
