<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="Foto de Perfil" class="profile-pic">
            <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('exames') }}">Exames</a></li>
         
               
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <h1>Últimos Exames Marcados</h1>
        <div class="exams-box">
            {% for exame in ultimos_exames %}
            <div class="exam">
                <p>Nome: {{ exame.name }}</p>
                <p>Exame: {{ exame.nome_exame }}</p>
            </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('exames') }}" class="btn-exams">Ver Todos os Exames</a>
    </div>
    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</body>
</html>
